github "onevcat/Kingfisher" "master"
github "typelift/Swiftz" "master"
github "ReactiveX/RxSwift" ~> 3.1.0
github "Moya/Moya" ~> 8.0.0
github "Thoughtbot/Argo" "master"
github "Thoughtbot/Curry" "master"
github "Quick/Quick" "master"
github "Quick/Nimble" "master"
github "hyperoslo/Hue" ~> 2.0.1
github "robb/Cartography" ~> 1.0.1
github "AliSoftware/OHHTTPStubs" "swift-3.0"
